#randomstate {
  visibility: hidden;
}

.App {
  text-align: center;
}

.App-logo-anim {
  animation: App-logo-spin infinite 20s linear;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 1px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-user {
  margin-top: 20px;
}

.BestTimes-trophy {
  margin-top: 20px;
  height: 120px;
}

.Table-caption {
  font-style: normal !important;
}

.Footer-title {
  margin-top: 1px !important;
}

.time-formated {
  white-space: nowrap;
}

.l-box {
  padding: .5em;
}
.r-box {
  padding: .2em;
}

.button-delete {
  background: rgb(202, 60, 60); /* this is a maroon */
  color: #fff;
  font-size: 70%;
}

.button-control {
  background: rgb(66, 184, 221);
  font-size: 85%;
  color: #fff;
}

.button-start {
  color: #fff;
  background: rgb(28, 184, 65);
}

.button-stop {
  color: #fff;
  background: rgb(202, 60, 60);
}

.button-shuffle {
  color: #fff;
  background: rgb(28, 70, 184);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
